langchain==0.0.147
fschat==0.2.3
accelerate
duckduckgo_search
transformers>=4.28.0
tokenizers
unstructured[local-inference]
layoutparser[layoutmodels,tesseract]
nltk
sentence-transformers
beautifulsoup4
icetk
cpm_kernels
faiss-cpu
detectron2@git+https://github.com/facebookresearch/detectron2.git@e2ce8dc#egg=detectron2
wandb==0.13.0